.footer__inner {
    background-color: white;
    border-radius: 30px 30px 0 0;
}

.container__footer {
    padding-top: 76px;
    padding-bottom: 74px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 66px;
}

.footer__wrapper:last-child {
    margin-bottom: 0px;
}

.footer__title {
    font-size: 22px;
    color: black;

}

.footer__item {
    display: inline-block;
    margin-right: 24px;

}

.footer__item:last-child {
    margin-right: 0px;
}

.footer__link {
    font-size: 22px;
    color: black;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: revert;
}

.footer__info {
    font-size: 20px;
    color: black;
    opacity: 0.5;

}