.intro__inner {
    background: url('../resources/background_intro.jpg') no-repeat center;
    background-size: cover;
}


.intro__inner-info {
    max-width: 430px;
    font-size: 20px;
    margin-bottom: 29px;
    padding-top: 334px;
}

.intro__inner-title {
    max-width: 919px;
    font-size: 80px;
    line-height: 70px;
    letter-spacing: 5px;
    color: springgreen;
    padding-bottom: 94px;
}

@media (max-width: 1199px) {
    .intro__inner-info {
        padding-top: 368px;
    }

    .intro__inner-title {
        max-width: 727px;
        font-size: 55px;
        letter-spacing: 5px;
        padding-bottom: 60px;
    }
}

@media (max-width: 767px) {
    .intro__inner-info {
        font-size: 15px;
        padding-top: 267px;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }

    .intro__inner-title {
        min-width: 353px;
        font-size: 35px;
        padding-bottom: 60px;
        letter-spacing: 1px;
        line-height: 50px;
    }
}