.projects__title {
    font-size: 55px;
    padding-top: 150px;
    margin-bottom: 40px;
}

.projects__list {
    margin-bottom: 80px;
}

.project {
    position: relative;
    transition: 1s;
}

.project:hover {
    transform: scale(1.2);
}

.project__link {
    display: block;

}

.project__img {
    border-radius: 35px;
    width: 100%;

}

.project__headline {
    font-size: 20px;
    line-height: 32px;
    color: black;
    padding: 10px 20px;
    background-color: springgreen;
    border-radius: 30px;
    position: absolute;
    top: 9%;
    left: 4%;

}

.project__text {
    font-size: 30px;
    letter-spacing: 3px;
    position: absolute;
    top: 74%;
    left: 4%;
}

.projects__button {
    display: block;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    max-width: 582px;
    height: 151px;
    line-height: 151px;
    text-decoration: none;
    color: black;
    transition-duration: 0.75s;
    background-color: springgreen;
    border: 2px solid springgreen;
    border-radius: 10px;
    margin-bottom: 150px;
}

.projects__button:hover {
    border: 2px solid springgreen;
    background-color: black;
    color: springgreen;
    transition-duration: 0.75s
}

@media (max-width: 1199px) {

    .projects__title {
        font-size: 45px;
        margin-bottom: 53px;
    }

    .project:hover {
        transform: scale(0.9);
    }

    .project__img {
        max-height: 445px;
        object-fit: cover;

    }

    .project__headline {
        font-size: 16px;
        border-radius: 30px;
        padding: 2px 10px;


    }

    .project__text {
        font-size: 28px;

    }

    .projects__button {
        font-size: 24px;
        max-width: 460px;
        height: 124px;
        line-height: 124px;
        margin-bottom: 150px;
    }
}

@media (max-width: 767px) {
    .projects__title {
        font-size: 30px;
        padding-top: 100px;
        margin-bottom: 34px;
    }


    .project__headline {
        font-size: 13px;
        border-radius: 30px;
        line-height: 15px;
        padding: 2px 10px;
        max-height: 30px;
        text-align: center;

    }

    .project__text {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .projects__button {
        font-size: 18px;
        height: 80px;
        line-height: 75px;
        margin-bottom: 100px;
    }

    .projects__list {
        margin-bottom: 60px;
    }
}

@media (max-width: 640px) {
    .project__text {
        top: 70%;
    }
}

@media (max-width: 500px) {
    .project__text {
        top: 65%;
    }
}

@media (max-width: 450px) {
    .project__text {
        top: 60%;
    }
}

@media (max-width: 400px) {
    .project__text {
        top: 55%;
    }
}