@import 'intro.css';
@import 'header.css';
@import 'projects.css';
@import 'skills.css';
@import 'services.css';
@import 'contacts.css';
@import 'footer.css';
@import 'scroll_up.css';
@import 'burger.css';

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1150px;
    margin: 0 auto;

}

section,
.header,
.main,
.footer {
    background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
a,
p,
img,
li,
button,
section {
    font-family: 'Oswald', sans-serif;
    letter-spacing: -0.03em;
    line-height: normal;
    color: white;
}

@media (max-width: 1199px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
        padding-left: 13px;
        padding-right: 12px;
    }
}